<!DOCTYPE html>
<html lang="en">
<head>
</head>
  <title>book details</title>
</head>
<body>
  <header>

  </header>
    <img src="<%= oneBook.thumbnail %>" alt=""></img>
    <h2><%= oneBook.title %></h2>
    <p>By: <%= oneBook.authors %></p>
    <p><%= oneBook.description %></p>
    <p>ISBN: <%= oneBook.isbn %></p>
    <p>Genre: <%= oneBook.bookshelf %></p>
    <div>
      <button>edit</button>
      <button>delete</button>
    </div>
    <form action="/update/<%= oneBook.id %>?_method=PUT" method="post">
      <input type="text" name="" value="<%- oneBook.title %>" placholder="<%- oneBook.title %>">
      <input type="text" name="" value="<%- oneBook.authors %>" placholder="<%- oneBook.authors %>">
      <input type="text" name="" value="<%- oneBook.description %>" placholder="<%- oneBook.description %>">
      <input type="text" name="" value="<%- oneBook.isbn %>" placholder="<%- oneBook.isbn %>">
      <input type="text" name="" value="<%- oneBook.bookshelf %>" placholder="<%- oneBook.bookshelf %>">
      <button>submit</button>
    </form>
    <a href="/">Return to home</a>
</body>
</html>