<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/style.css">
  <title>Book Collection</title>
</head>
<body>
  <header>
    <a href="searches/new">find me</a>
  </header>
    <section>
      <% myBooks.forEach(book => { %>
        <form action="addBook" method="post"></form>

        <div>
            <img src="<%= book.thumbnail %>"></img>
            <h2><%= book.title %></h2>
          <h4><%= book.authors %></h4>
          <p><%= book.description %></p>

          <a href="/books/<%= book.id %>">show details</a>

        </div>



      </form>
      <% }) %>
  </section>
  </body>
</html>